{%  extends '::base.html.twig' %}

{% block menu %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Comix-Ninja</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block body %}
    Comix Ninja
    <p></p>
    Inhaber (privat)<br>
    Daniel Moritz<br>
    Helmholtzstr. 62<br>
    46045 Oberhausen
    </p>
    <p>
    privat betriebene, nicht gewerbliche Website
    </p>

    <p>
    www.comix.ninja – email: dmoritz79@gmail.com
    </p>
    <p>
    <b>Bildnachweis</b><br/>
    Logo/Titelbild - Urheberrecht (copyright) liegt bei mir
    Zu den übrigen Bildnachweisen: bei allen Titelbild-/Cover-Abbildungen und Logos liegt das Urheberrecht (copyright) bei den jeweiligen Verlagen und/oder Zeichnern/Autoren.
    Im Übrigen gelten die nachfolgend unter "Urheber- und Leistungsschutzrechte / Nutzungsbedingungen" aufgeführten Nutzungsbedingungen.
    </p>

    <p>
    Urheber- und Leistungsschutzrechte / Nutzungsbedingungen
    Jeder Besucher dieser Website erkennt die folgenden Bedingungen an:
    </p>
    <p>
    Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht.
    Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf meiner vorherigen schriftlichen Zustimmung, oder der des jeweiligen Rechteinhabers. Das Copyright für alle Titelbild-/Cover-Abbildungen liegt bei den jeweiligen Verlagen und/oder Zeichnern/Autoren.
    </p>
    <p>
    Comix.Ninja behält sich alle Rechte, auch die der Übersetzung, ausdrücklich vor. Kein Teil des Werkes darf in irgendeiner Form (Druck, Fotokopie, Mikrofilm oder einem anderen Verfahren) ohne schriftliche Genehmigung reproduziert oder unter Verwendung elektronischer Systeme verarbeitet, vervielfältigt oder verbreitet werden.
    </p>
    <p>
    Die Wiedergabe von Gebrauchsnamen, Handelsnamen, Warenbezeichnungen usw. auf dieser Website berechtigt, auch ohne besondere Kennzeichnung, nicht zu der Annahme, dass solche Namen im Sinne der Warenzeichen- und Markenschutz-Gesetzgebung als frei zu betrachten wären und daher von jedermann benutzt werden dürften.
    </p>
    <p>
    Jegliche Weiterverwendung, auch die in unserer Datenbank enthaltenen Angaben, sind nur zu privaten und nicht kommerziellen Zwecken erlaubt. Eine Weiterveröffentlichung dieser Daten (im Ganzen oder in Teilen) ist nur mit meiner schriftlicher Zustimmung erlaubt. Sollte uns eine unerlaubte Veröffentlichung unserer Daten bekannt werden, egal ob auf privaten oder kommerziellen Websites, sowie auf anderen Medien, werde ich eine Verwarnung aussprechen. Sollte das nichts bewirken, wird anwaltlich abgemahnt (kostenpflichtig). Sollte auch das nichts bewirken, werden gerichtliche Schritte eingeleitet.
    </p>
    <p>
    Das Setzen von Links auf unsere Website ist ausdrücklich erlaubt und erwünscht. Ein Link darf hierbei allerdings nur auf die URL http://www.comix.ninja gesetzt werden. Das Verlinken auf Unterseiten (sog. deep links) ist grundsätzlich nicht gestattet.
    </p>

    <p>
    Haftungsausschluss<br/>
    Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Comix Ninja übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung von Comix Ninja wieder. Mit der reinen Nutzung der Website von Comix Ninja kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und Comix Ninja zustande.
    </p>
    <p>
    Externe Links
    Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Comix Ninja hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Comix Ninja hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich Comix Ninja die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für Comix Ninja ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.
    </p>
{% endblock %}

{% block javascripts %}

{% endblock %}